.container{
    display: flex;
    border: 2px solid black;
    width: 700px;
}
.three{
    order: 1;
}
.four{
    order: -1;
}
.five{
    order: -2;
}

.container div:nth-child(6){
    order:-3 ;
}
/* u can target nth child using classes */